
</div>


<footer id="footer" style="background-image: url('{{page.imagebg|relative_url}}');">
  <div class="inner">
    <ul class="icons">
      <li><a href="https://www.linkedin.com/in/luca-glep-grandinetti/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
      <li><a href="https://github.com/glep93/" class="icon brands fa-github"><span class="label">Github</span></a></li>
      <li><a href="mailto:luca.glep.grandinetti@gmail.com"  class="icon solid fa-envelope"><span class="label">Github</span></a></li>
    </ul>
  </div>
</footer>

<script src= "https://glep93.github.io/glep93/assets/js/jquery.min.js"        " ></script>
<script src= "https://glep93.github.io/glep93/assets/js/jquery.poptrox.min.js"" ></script>
<script src= "https://glep93.github.io/glep93/assets/js/browser.min.js"       " ></script>
<script src= "https://glep93.github.io/glep93/assets/js/breakpoints.min.js"   " ></script>
<script src= "https://glep93.github.io/glep93/assets/js/util.js"              " ></script>
<script src= "https://glep93.github.io/glep93/assets/js/main.js"              " ></script>
